{% extends 'admin/admin.base.html.twig' %}


{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Administraeurs</li>
    </ol>

    <h1>users list here </h1>
{% endblock %}