{% extends 'admin/admin.base.html.twig' %}
{% block content %}
    <div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">are you sure to delete?</h5>

        <div class="row">
            <div class="col-5 "> <a href="/elements" >annuler </a></div>
            <div class="col-3">   {{ form(form) }}</div>
        </div>
    </div>

{% endblock %}