{% extends 'admin/admin.base.html.twig' %}


{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Accueil</a>
        </li>
        <li class="breadcrumb-item active"></li>
    </ol>

    <h1>dashboard here </h1>
{% endblock %}